body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #f9f9f9;
  color: #333;
}

header {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0.25rem;
}

section {
  margin-bottom: 2rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

.fullwidth-pdf {
  width: 100vw;
  max-width: 100vw;
  margin: 40px 0; 
}

.fullwidth-pdf iframe {
  width: 100%;
  height: 900px;
}

.portfolio-img {
  border: 1px solid #d5d5d5;   /* Slate light gray */
  padding: 6px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 100%;
  height: auto;
}
