body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #f9f9f9;
  color: #333;
}

header {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0.25rem;
}

section {
  margin-bottom: 2rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

.full-width-iframe {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
    padding: 0 20px;
}

.resume iframe {
    width: 100%;
    height: 900px;
}
